@font-face{
    font-family:  'Allrounder';  
    src: url('fontes/Allrounder Monument Test/AllrounderMonumentTest-Book.otf') format(OpenType);
    src: url('fontes/Allrounder Monument Test/AllrounderMonumentTest-Regular.otf') format(OpenType);
    src: url('fontes/Allrounder Monument Test/AllrounderMonumentTest-Medium.otf') format(OpenType);
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    background-color: #f2ead9;
}

h1{
    font-family: 'Allrounder',serif;
    font-weight: 100;
    font-size: 1.5em;
    letter-spacing: 1px;
}

h2{
   font-size: 1.2em;
}

p{
    font-family: "Montserrat", sans-serif;
    font-size: 1em;
    color: #f3f2ed;
    font-weight: 100;
    letter-spacing: 1px;
    font-style: italic;
    margin-bottom: 20px;
    width: 90%;
}

header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 15px 20px;
    background-color: #f2ead9;
    height: 70px;
    letter-spacing: 3px;
    font-weight: 500;
}

.logo h1 {
    font-size: 22px;
    font-family: 'Allrounder',serif;
    font-weight: 100;
    color: #2b232a;
}

.logo h2 {
    font-family: 'Allrounder',serif;
    font-weight: 100;
    font-style: italic;
    font-size: 14px;
    color: #a08a5b;
}


.banner-inicial{
   position: relative;
   min-height: 70vh;
   justify-content: flex-start;
   background-image: url(multimidia/banner-p.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   background-attachment: scroll;
}
.conteudo-banner{
    padding-top: 50vh;
    padding-left: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    

}
.tag-banner{
    font-size: 0.8em;
    color:#bf8c1e;
    letter-spacing: 3px;
    padding: 2px 0px ;
    margin-bottom: 10px ;
    font-weight: 100;
}
.conteudo-banner h1{
    font-size: 1.5em;
    color: #f3eded;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 10px;
    width: 90%;
    
}
.subtitulo-banner{
    color: #ffffff;
}

.btn-encomendar{
    font-size: 0.8em;
    color: #a08a5b;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 10px 20px ;
    background-color: #ffffffe2;
    border: 2px solid#a08a5b;

}

.autenticidade{
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #a08a5b;
    padding-top: 2px;
    flex-wrap: wrap;
    max-height: 55px;
}
.autenticidade p {
    font-family: 'Allrounder',serif;
    font-size: 0.8em;
    color: #f2ead9;
    letter-spacing: px;
    font-weight: 100;
}
.introducao{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #2B2923;
    text-align: center;
    max-width: 450px;
    margin: 0 auto;
    padding: 50px 20px;
}

.introducao h2{
    font-size: 12px;
    color: #a08a5b;
    font-weight: 100;
    letter-spacing: 3px;
}

.introducao h1{
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 1px;
    padding-top: 20px;
}
.introducao p{
    font-size: 16px;
    color: #5a5747;
    font-weight: 100;
    font-style: italic;
    padding-top: 20px;

}
.divisor{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.line{
  border: none;
  height: 1px; 
  width: 40%;
  background-color: #a08a5b; 
}
.estrela{
  color: #a08a5b;
}

.titulo-galeria{
    font-size: 22px;
    color: #2B2923;
    font-weight: 100;
    letter-spacing: 1px;
    padding: 40px 0px 80px 0px;
    text-align: center;
}
.galeria-amigurumis{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px ;
    padding: 0px 40px;
    max-width: 1300px;
    margin: 0 auto;
}

.layout-produto{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 8px;
    border: 1px solid #a08a5b;
}
.amigurumi{
    width: 300px;
    align-items: center;
    justify-content: center;
}
.titulo-pintura{
    max-width: 290px;
    font-size: 22px;
    color: #2B2923;
    font-weight: 100;
    letter-spacing: 1px;
    padding-top: 10px;
}
.descricao-pintura{
    max-width: 290px;
    font-size: 16px;
    color: #5a5747;
    font-weight: 100;
    font-style: italic;
    padding: 10px 0px;
}
.btn-encomendar-p{
    font-size: 10px;
    color: #f3f2ed;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 8px 10px ;
    background-color: #a08a5b;
    border: 2px solid#f3f2ed;
}

@media(min-width: 480px){ /* tablets e notebooks*/
.banner-inicial{
    background-image: url(multimidia/banner-p.jpg);
}


@media(min-width:1050px ){  /* monitores maiores */
.banner-inicial{
    background-image: url(multimidia/banner-p.jpg);

}
